*{
    color:#265077;
    color:#022140;
    color:#494B68;
    color:#1E4258;
    color:#2D5F5D;
}
*{
    color:rgb(23,37,42);
    color:rgb(43,122,120);
    color:rgb(58,175,169);
    color:rgb(222,242,241);
    color:rgb(254,255,255);
}
*{
    color:rgb(86,128,233);
    color:rgb(132,206,235);
    color:rgb(58,175,169);
    color:rgb(193,200,228);
    color:rgb(136,96,208);
}